body {
    background-color: rgb(170, 100, 50);
    color: wheat;
}

/* Estilo el encabezado */
.header {
    background-image: url('../img/safari_principal.jpeg'); /* Imagen de fondo */
    background-size: cover; /* La imagen cubre todo el espacio disponible */
    background-position: center center; /* La imagen se centra en el contenedor */
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header h1 {
    font-size: 2.9rem;
    color: wheat;
}

.header p {
    color: wheat;/
}

/* Estilo línea horizontal personalizada HR */
.hr-custom {
    border: 1.5px solid wheat;
}

/* Estilos generales para el acordeón (BOTONES)*/
.accordion-button, 
.accordion-button:not(.collapsed) {
    background-color: rgb(245, 184, 102);  
    font-weight: bold;  
    color: rgb(63, 48, 43); 
}
/* Estilos para el contenido del acordeón */
.accordion-body {
    background-color: rgb(92, 51, 23); 
    color: wheat; 
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
}
/* Fondo del acordeón principal */
.accordion-item {
    border: none;
}
footer {
    background-color: rgb(63, 48, 43);/
}
/* Estilo para los enlaces dentro del footer */
footer a {
    color: wheat;
    text-decoration: none; /* Quitamos el subrayado de los enlaces por defecto */
}

footer a:hover {
    text-decoration: underline;
}

/*Espacio por debajo de la linea que antecede a las cards
para evitar que las tres cars se peguen encima en desktop*/
#espacioPreCards {
    padding-bottom: 1.6em;
}

/*Espacio por encima de las cards, para
que no se peguen al acordeón del safari en la 
selva de Zimbabue */
#paddingCard1, #paddingCard2, #paddingCard3 {
    padding-bottom: 3em;
}

/*La card original de la página web de bootstrap era blanca.
Nosotros hemos utilizado la opacidad al 30% para conseguir
que tome el fondo de la web*/
.card {
    background-color: rgba(255, 255, 255, 0.3); 
}